.yellow {
    height: 75px;
    margin-bottom: 16px;
    background-color: yellow;
}

.blue {
    height: 75px;
    margin-bottom: 16px;
    background-color: blue;
}

.red {
    height: 75px;
    margin-bottom: 16px;
    background-color: red;
}
