.yellow {
    background-color: yellow;
    height: 75px;
    margin-bottom: 16px;
}

.blue {
    background-color: blue;
    height: 75px;
    margin-bottom: 16px;
}

.red {
    background-color: red;
    height: 75px;
    margin-bottom: 16px;
}

.green {
    background-color: green;
    height: 75px;
    margin-bottom: 16px;
}

.gray {
    background-color: gray;
    height: 75px;
    margin-bottom: 16px;
}